
absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
async-timeout
attrs
Brotli
certifi
charset-normalizer
click
colorama
colorlog
Columnar
comm
datasets
debugpy
decorator
dill
ensure
evaluate
exceptiongroup
executing
fastapi
filelock
frozenlist
fsspec
git-filter-repo
h11
huggingface-hub
inflate64
iniconfig
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
loguru
MarkupSafe
matplotlib-inline
mpmath
multidict
multiprocess
multivolumefile
nest-asyncio
networkx
nltk
numpy
pandas
parso
platformdirs
pluggy
prompt_toolkit
propcache
protobuf
psutil
pure_eval
py7zr
pyarrow
pybcj
pycryptodomex
pydantic
pydantic_core
Pygments
pyppmd
pytest
python-box
python-dateutil
PyYAML
pyzmq
pyzstd
regex
requests
rouge_score
safetensors
sentencepiece
six
sniffio
stack-data
starlette
sympy
texttable
timeago
tokenizers
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
uvicorn
wcwidth
win32_setctime
xxhash
yarl
